:root {
   --main-color: #414141;
   --secondary-color: #000000;
}
body > *{
   padding: 10px;
}

body > aside {
   border-right: 1px solid var(--main-color);
}

body > main {
}

body > footer {
   background-color: #414141;
   color: white;
}