li {
    display: inline;
    font-size:  2em;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
}

header > div {
    background-color: #414141;
    color: white;
    float: left;
}

header > nav {
    background-color: #7a53c7;
    float: right;
}

body > header {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
