div.produktai {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

.produktai img {
    display: block;
}

.produktai > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}